[flake8]
exclude = build, dist, docs/_build, notebooks/.*, notebooks/, optimization_benchmarks
ignore = E121,E123,E126,E203,E226,E24,E704,W503,W504,D205,D400,RST303,RST304
application-import-names = polyclonal
per-file-ignores = polyclonal/polyclonal.py:RST307,RST210
max-line-length = 88
